<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/hchalla2020/TestAutomation/NewWorkspace2021/DatadrivenAmazon"><classes><class name="DataDTesting.DDTestingbyusingDataProvider"><methods><include name="amzonproductsearch"/></methods></class><class name="DataDTesting.DataDrivenTesting"><methods><include name="DDTesting"/></methods></class><class name="DataDTesting.ParametrizationTesting"><methods><include name="parametrization"/></methods></class></classes></test></suite>